body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh; /* Высота экрана */
    display: flex; /* Flexbox для выравнивания */
    flex-direction: column; /* Разместить элементы вертикально */
    justify-content: space-between; /* Пространство между блоками */
    align-items: center;
    min-height: 100vh; /* Гарантируем, что body занимает всю высоту */

}

.profile-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.profile-container img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.profile-container h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.profile-container p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
}

.profile-container .form-group {
    margin-bottom: 15px;
    text-align: left; /* Выравнивание текста по левому краю */
}

.logout-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #45a049;
}
